.products_list_page {
  max-width:  1200px;
  margin: 0 auto;
  .left_right {
    .right {
      width: 450px;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
    tr {
      background-color: var(--secondary-bg-color);
      th {
        background-color: var(--primary-bg-color);
        text-align: left;
      }
      td, th {
        padding: 10px;
        border-bottom: 1px solid var(--tertiary-bg-color);
        &:last-child {
          width: 50px;
        }
      }
      td {
        input {
          display: none;
        }
        input:checked + label {
          border: 1px solid white;
          transition: all .3s ease;
          &:after {
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            transition: all .3s ease;
          }
        }
        label {
          width: 26px;
          cursor: pointer;
          height: 26px;
          display: block;
          border-radius: 50%;
          background-color: var(--tertiary-bg-color);
          position: relative;
          transition: all .1s ease;
          &:after {
            position: absolute;
            display: block;
            content: '';
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: white;
            transition: all .1s ease;
            
          }
        }
      }
    }
  }
}