.Listings {
    background-color: rgb(206, 206, 206);
    padding: 15px;
    flex: 1;
    h3 {
        margin-bottom: 15px;
    }
    ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
        grid-gap: 15px;
        li { 
            background-color: white;
            padding: 15px;
            transition: all .3s;
            cursor: pointer;
            p { 
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &.title {
                    font-weight: bold;
                    margin-bottom: 15px;
                    .category {
                        background-color: orange;
                        padding: 5px 10px;
                        display: inline-block;
                        border-radius: 20px;
                        margin-left: 15px;
                        font-size: smaller;
                    }
                }
                &.description {}
                &.price {}
                &.rating {}
            }
            &:hover {
                transform: scale(1.02);
            }
        }
    }
    .pagination {
        text-align: center;
        margin-top: 15px;
        button {
            margin: 0 10px;
            padding: 10px;
        }
    }
}
